sy-template/static/css/font-awesome-ie7.css
sy-template/static/css/font-awesome-ie7.min.css
sy-template/static/css/font-awesome.css
sy-template/static/css/font-awesome.min.css
sy-template/static/font/FontAwesome.otf
sy-template/static/font/fontawesome-webfont.eot
sy-template/static/font/fontawesome-webfont.svg
sy-template/static/font/fontawesome-webfont.ttf
sy-template/static/font/fontawesome-webfont.woff
sy-template/static/font/lato_bold.ttf
sy-template/static/font/lato_font.css
sy-template/static/font/lato_light.ttf
sy-template/static/font/lato_regular.ttf
sy-template/static/img/logo.png
geoserver
downloaded
sy_template.egg-info
.DS_Store
*.pyc
development.db
sy_template/uploaded
local_settings.py
