{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Donors" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block jumbotron %}
<h1 class="span6"> {% trans "Explore Donors Meeting" %}</h1>
<ul class="extra-links span3 pull-right">
  <li><a href="{% url "advanced_search" %}"><i class="icon-search"></i> {% trans "Advanced Search" %}</a></li>
</ul>
{% endblock %}

{% block body_outer %}
{% block mainbody %}
    <div class="row">
        <section class="span12 well focus-areas">
          <h2>{% trans "DONORS MEETING" %}</h2>
          {% for mapping in mappings %}
          <span class="pull-left focus-area">
            <a href="{% url "search_donors" %}?kw={{mapping.keyword}}"><img class="focus-img" src="{{mapping.thumbnail.url}}"></img></a>
            <label><a href="{% url "search_donors" %}?kw={{mapping.keyword}}">{{mapping.name}}</a></label>
          </span>
          {% endfor %}
        </section>
      </div>
    </div>
{% endblock %}
{% endblock %}