{% extends "site_base.html" %}
{% load i18n %}
{% load maps_tags %}
{% load layers_tags %}
{% load pagination_tags %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block jumbotron %}
  <h1 class="span8">SDI for Syria Damage Assessment</h1>
  <p class="lead span8">The Spatial Data Infrastructure (SDI) for Syria Damage Assessment is proposed as a common platform to collect and disseminate geospatial analysis results which relate to the impact assessment of the Syrian crisis. The prime purpose of the site is to host documented data sets that describe impact in a consistent spatio-temporal manner. The data sets can be maintained through versioning and a consistent description of their lineage through meta-data records.</p>
{% endblock %}

{% block social %}
<section class="social">
  <div class="container">
    <div class="row">
      <div class="span2"><p>Layers <span class="count">{{ facets.vector|add:facets.raster }}</span></p></div>
      <div class="span2"><p>Maps <span class="count">{{ facets.map }}</span></p></div>
      <div class="span2"><p>Documents <span class="count">{{ facets.document }}</span></p></div>
      <div class="span2"><p>Contributors <span class="count">{{ facets.user }}</span></p></div>
      <div class="span4">
        <p>
          <a href="https://twitter.com/share?url=http://{{ request.get_host }}{{ request.get_full_path }}" class="tw"><i class="icon-twitter-sign"></i></a>
          <a href="http://www.facebook.com/sharer.php?u=http://{{ request.get_host }}{{ request.get_full_path }}" class="fb"><i class="icon-facebook-sign"></i></a>
          <a href="https://plusone.google.com/_/1/confirm?hl=en&url=http://{{ request.get_host }}{{ request.get_full_path }}" class="gp"><i class="icon-google-plus-sign"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body_outer %}

{% block mainbody %}
    {% if request.user.is_authenticated %}
    <section class="span10 well home-focus">
      <span class="pull-left focus-item">
        <a href="{% url "focus_areas" %}"><img class="focus-item-img" src="{{ STATIC_URL }}img/damage_assessment.jpg"></img></a>
        <label><a href="{% url "focus_areas" %}">Damage Assessment</a></label>
      </span>
      <span class="pull-left focus-item">
        <a href="{% url "donors_meeting" %}"><img class="focus-item-img" src="{{ STATIC_URL }}img/devco.jpg"></img></a>
        <label><a href="{% url "donors_meeting" %}">Core Donors Meeting</a></label>
      </span>
      <span class="pull-left focus-item">
        <a href="{% url "donors_mapping" %}"><img class="focus-item-img" src="{{ STATIC_URL }}img/pie_chart.png"></img></a>
        <label><a href="{% url "donors_mapping" %}">Core Donors Mapping</a></label>
      </span>
    </section>
    {% else %}
    <img style="width: 1024px;" src="{{ STATIC_URL }}/img/syria_4_geonode.JPG"></img>
    {% endif %}
</div>
{% endblock %}
{% endblock %}
